:root{
    --dark-blue: #03081F;
    --yellow: #FC8A06;
}
.footer {
  background-color: #f9f9f9;
  color: #333;
  /* padding: 40px 20px 20px; */
  font-family: Arial, sans-serif;
  border-top: 1px solid #ddd;
}

.footer-container {
    /* display: flex;
    flex-wrap: wrap; */

  padding: min(2em, 8%);
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  justify-content: space-between;
}

.footer-left {
  flex: 1;
  min-width: 250px;
  margin-right: 20px;
}

.logo {
  font-size: 24px;
  margin-bottom: 10px;
}
.logo-img {
  height: 40px; /* adjust size as needed */
  object-fit: contain;
}

.app-links img {
  height: 40px;
  margin-right: 10px;
}

.footer-center {
  flex: 1;
  /* min-width: 250px; */
  /* margin: 20px 0; */

   display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.footer-center h4{
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--dark-blue);
}


.subscribe {
  display: flex;
  /* border-radius: 999px; */
  overflow: hidden;
  background-color: #eaeaea;
  max-width: 22vw;
  margin: 10px 0;
  border-radius: 25px;
}

.subscribe input {
  border: none;
  padding: 11px;
  flex: 1;
  font-size: 14px;
  /* border-radius: 999px 0 0 999px; */
  background-color: transparent;
  outline: none;
}

.subscribe button {
   border: none;
  /* padding: 12px 24px; */
  padding-left: min(10px, 5%);
  padding-right: min(10px, 5%);
  background-color: var(--yellow); /* Orange color */
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 999px 999px 0;
  transition: background-color 0.3s ease;
  font-size: 15px;
}
.subscribe button:hover {
  background-color: #e57700;
}

.social-icons i {
  font-size: 20px;
  margin-right: 10px;
  color: #333;
}

.footer-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  /* min-width: 300px; */
  flex-wrap: wrap;
  padding: 0;
}

/* .footer-section {
  margin: 10px;
} */

.footer-section h4 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  color: var(--dark-blue);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
}

.footer-bottom {
    background-color: var(--dark-blue);
  border-top: 1px solid #ddd;
  /* margin-top: 30px; */
  padding-top: min(12px, 2vw);
  padding-left: min(4em, 2%);
  padding-right: min(4em, 2%);
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  color: #FFFF;
}

.bottom-links a {
  margin-left: 15px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 15px;
}
